@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 111 20% 84%;
    --foreground: 196 60% 14%;
    --card: 124 20% 84%;
    --card-foreground: 196 60% 14%;
    --popover: 0 0% 100%;
    --popover-foreground: 196 60% 14%;
    --primary: 196 84% 26%;
    --primary-foreground: 0 0% 98%;
    --secondary: 220 13% 91%;
    --secondary-foreground: 196 60% 14%;
    --muted: 220 13% 91%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 45 93% 61%;
    --accent-foreground: 45 9.1% 9.8%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 85%;
    --input: 220 13% 85%;
    --ring: 196 84% 26%;
    --chart-1: 38 92% 50%;
    --chart-2: 142 71% 45%;
    --chart-3: 196 84% 26%;
    --chart-4: 262 82% 57%;
    --chart-5: 0 84% 60%;
    --radius: 0.5rem;
    --sidebar-background: 196 84% 26%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 196 84% 26%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 62 85% 60%; /* #EAF044 */
    --sidebar-accent-foreground: 196 60% 14%;
    --sidebar-border: 196 84% 30%;
    --sidebar-ring: 196 78% 58%;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 0 0% 98%;
    --card: 222 47.4% 11.2%;
    --card-foreground: 0 0% 98%;
    --popover: 222 47.4% 11.2%;
    --popover-foreground: 0 0% 98%;
    --primary: 196 78% 58%;
    --primary-foreground: 196 84% 26%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 0 0% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 45 83% 61%;
    --accent-foreground: 45 9.1% 9.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 196 78% 58%;
    --chart-1: 38 92% 60%;
    --chart-2: 142 71% 55%;
    --chart-3: 196 78% 58%;
    --chart-4: 262 82% 67%;
    --chart-5: 0 72% 51%;
    --sidebar-background: 196 84% 26%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 196 78% 58%;
    --sidebar-primary-foreground: 196 84% 26%;
    --sidebar-accent: 62 85% 60%; /* #EAF044 */
    --sidebar-accent-foreground: 196 60% 14%;
    --sidebar-border: 196 84% 30%;
    --sidebar-ring: 196 78% 58%;
  }

  body.logged-in {
    --background: 111 20% 84%; /* #d0dfcd */
    --card: 0 0% 100%; /* white */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
